[sortable] {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

[sortable-item] {
  flex: 0 1 auto;
  padding: 8px 8px;
  box-sizing: border-box;
}

.flickr-img {
  width: 260px;
  height: 180px;
}
