html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 13px;
}

.oa-sorting {
}

.features, [oa-sortable] {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.feature, [oa-sortable-item] {
  flex: 0 0 1;
  padding: 8px 8px;
  box-sizing: border-box;
  max-width: 216px;
}

h2,  h3 {
  padding: 8px 8px;
  box-sizing: border-box;
  text-align: center;
}

img {
  width: 200px;
  height: 160px;
}

.sortable-scroll,
.sortable-scroll body,
.sortable-scroll .page-host,
.sortable-scroll router-view {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.sortable-scroll [oa-sortable] {
  position: relative;
  height: calc(100% - 100px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.parent-scroll,
.parent-scroll body {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.parent-scroll .page-host {
  position: relative;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.splash {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 12.5%;
  color: rgba(255, 0, 0, 0.6);
}

.message, .spinner {
  font-size: 48px;
  flex: 0 0 1;
  padding: 8px 8px;
  box-sizing: border-box;
  max-width: 216px;
  text-align: center;
}

.heart {
  color: red;
}
.spinner {
  height: 60px;
  width: 60px;
  margin: 94px auto 0 auto;
  position: relative;
  top: -232px;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(255, 0, 0, 0.2);
  border-right: 6px solid rgba(255, 0, 0, 0.2);
  border-bottom: 6px solid rgba(255, 0, 0, 0.2);
  border-top: 6px solid rgba(255, 0, 0, 0.5);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
